{% include 'pages/layout.html' %}

{% block content %} 
    <div class="container ">
        <p class="p-2">Habitaciones</p>
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="holder.js/100x180/" alt="Title" />
                    <div class="card-body">
                        <h4 class="card-title">Habitación</h4>
                        <p class="card-text">
                            * Habitación para una persona <br>
                            * Calefacción, Aire acondicionado <br>
                            * Televisión <br>

                            <a name="" id="" class="btn btn-primary" href="#" role="button">Button</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="holder.js/100x180/" alt="Title" />
                    <div class="card-body">
                        <h4 class="card-title">Habitación</h4>
                        <p class="card-text">
                            * Habitación para una persona <br>
                            * Calefacción, Aire acondicionado <br>
                            * Televisión <br>

                            <a name="" id="" class="btn btn-primary" href="#" role="button">Button</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="holder.js/100x180/" alt="Title" />
                    <div class="card-body">
                        <h4 class="card-title">Habitación</h4>
                        <p class="card-text">
                            * Habitación para una persona <br>
                            * Calefacción, Aire acondicionado <br>
                            * Televisión <br>

                            <a name="" id="" class="btn btn-primary" href="#" role="button">Button</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="holder.js/100x180/" alt="Title" />
                    <div class="card-body">
                        <h4 class="card-title">Habitación</h4>
                        <p class="card-text">
                            * Habitación para una persona <br>
                            * Calefacción, Aire acondicionado <br>
                            * Televisión <br>

                            <a name="" id="" class="btn btn-primary" href="#" role="button">Button</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}