{% include 'pages/layout.html' %}

{% block content %} 
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Habitaciones</h1>
            <p class="col-md-8 fs-4">
                Aquí puedes ver el catalogo completo de nuestras habitaciones,
                estas incluyen capacidad para una, dos, tres y hasta cuatro personas.
            </p>
            <button class="btn btn-primary btn-lg" type="button">
                Más información
            </button>
        </div>
    </div>
    
{% endblock %}